@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
}



.logo-navbar-brand {
    padding-right: 3rem;
}

.navbar {
    background-color: #CBEBE2;
    padding: 1rem;
}

.nav-link {
    color: #6C1B89;
}

.emergencias {
    color: #6C1B89;
    font-size: 20px;
    font-weight: bolder;
    background-color: #d9d9e0be;
    height: 5vh;

}

.doc24 {
    color: #fcfcfc;
    font-style: italic;
    background-color: #6c1b8924;
   


}

.imagen-principal {
    background-image: url(/imágenes/imagen\ principal\ 1\ 1.png);
   background-size: cover;
   height: 80vh;
}


.card-title {
    color: #6C1B89;
}

.plan1000 {
    height: 12rem;
    width: 11rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:  10px;
    border-radius: 16px;

}

.tu-cuenta-online {
    padding-top: 64px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.descarga {
    background-color: #CBEBE2;
    height: 12rem;
    width: 100%;
}

.mujer-celular {
    height: 12px;
    ;
}
.bi-bi-telephone-fill{
    color: #6C1B89;
}
.titulo-numeros{
    font-size: larger;
    font-weight: bolder;
    color: #6C1B89;
}
.subtitulo-numeros{
    font-weight: bolder;
}
.img-tu-cuenta{
    height: 50vh;
}
.tu-cuenta-online{
    background-color: #CBEBE2;
    background-size:auto;