/* Estilo de la sección Información útil */
.info-util {


    &__titulo {
        color: $verde;
        font-weight: bolder;
    }

    &__subtitulo {
        color: $violeta;
    }

    &__card-contacto {
        background-image: url(../imágenes/fondo-contacto.jpg);
        background-size: cover;
        background-position: center center;
        height: 45vh;
        padding-top: 45px;
        border-radius: 6px;


    }

    &__asistencia {
        background-color: #fcfcfcb6;




    }
}

/* Estilo del formulario de contacto */
.formulario {
    &__titulo {
        color: $verde;
        font-weight: bolder;
    }

    &__form-floating {
        color: $violeta;

    }

}







@media screen and (max-width: 767px) {
    .info-util__asistencia {
        background-color: #fcfcfcb6;
        margin-top: 0px;
        padding-top: 16px;
        padding-bottom: 5px;
    }
}



@media screen and (max-width: 1023px) {
    .info-util__card-contacto {
        height: 30vh;
        padding-top: 65px;

    }
}

@media screen and (max-width: 767px) {
    .info-util__card-contacto {
        background-image: none;
        height: 60vh;
        padding-top: 0px;
    }
}