/* Sección Información útil */

.info-util {

    &__titulo {
        font-size: x-large;
        color: $verde;
        font-weight: bolder;
    }

    &__subtitulo {
        color: $violeta;
    }

    &__asistencia {
        background-image: url(../imágenes/fondo-contacto.jpg);
        background-size: cover;
        background-position: center center;
        font-size: large;
    }

    &__informacion {
        background-color: #fcfcfcc7;
        margin-top: 8px;
        margin-bottom: 8px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

}

/* Sección formulario de contacto */
.formulario {
    
    &__titulo {
        font-size: x-large;
        color: $verde;
        font-weight: bolder;
    }

    &__form-floating {
        color: $violeta;
    }

}

