/* Estilo de la sección Información útil */
.info-util {

    &__titulo {
        color: $verde;
        font-weight: bolder;
    }

    &__subtitulo {
        color: $violeta;
    }

    &__asistencia {
        background-image: url(../imágenes/fondo-contacto.jpg);
        background-size: cover;
        background-position: center center;


    }

    &__informacion {
        background-color: #fcfcfcc7;
         margin-top: 8px;
         margin-bottom: 8px;
         padding-top: 16px;
         padding-bottom: 16px;
    }

}

/* Estilo del formulario de contacto */
.formulario {
    &__titulo {
        color: $verde;
        font-weight: bolder;
    }

    &__form-floating {
        color: $violeta;

    }

}


.boton-contacto {
    margin-left: 450px;
}







@media screen and (max-width: 1023px) {
    .info-util__informacion {}
}

@media screen and (max-width: 767px) {
    .info-util__informacion {}
}