* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
}
body{
    background-color:#fcfcfc

}
.emergencia {
    color: $violeta;
    font-size: medium;
}

footer {
    background-color: #cbebe27c;
}

.p-footer {
    font-size: smaller;
}

.copy {
    font-size: smaller;
    font-weight: bolder;
}

.iconos-redes i {
    color: #6c1b89cb;
    font-size: 24px;
    margin: 8px;
}