* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
}

/* Body */
body {
    background-color: $bgBody
}

/* Estilo h2 */
h2{
    font-size: xx-large;;
    color: $violeta;
    font-weight: bold;
}

/* Numero de emergencia */
.emergencia {
    color: $violeta;
    font-size: medium;
}

/* Logo */
.logo-navbar-brand {
    padding-right: 3rem;
}

/* Navbar */
.navbar {
    background-color: $verdeHeader;
    padding: 1rem;
}

/* Links de Navbar */
.nav-link {
    color: $violeta;
    font-weight: bold;
}

/* Footer */
.footer {

    &__body {
        background-color: $verdeFooter;
    }


    &__p {
        font-size: smaller;
    }


    &__copy {
        font-size: smaller;
        font-weight: bolder;
    }


    &__iconos-redes {
        color: $violeta;
        font-size: 24px;
        margin: 8px;
    }
}

/* Botón */
.boton {
    font-size: medium;
    background-color: $violeta;
    color: $bgBody;
}


