* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
}

/* Body */
body {
    background-color: $bgBody
}

/* Estilo h2 */
h2 {
    color: $verde;
    font-size: x-large;
    font-weight: bolder;
}

/* Estilo h3 */
h3 {
    font-size: xx-large;
    color: $violeta;
    font-weight: bold;
}

/* Botón */
.boton {
    font-size: medium;
    background-color: $violeta;
    color: $bgBody;
}

/* Numero de Emergencias y Urgencias */
.emergencia {
    color: $verde;
    font-size: x-large;
    background-color: #6c1b890f;
    margin-top: 88px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

/* Logo */
.logo-navbar-brand {
    padding-right: 3rem;
}

/* Navbar */
.navbar {
    background-color: $verdeHeader;

    &__nav-item {
        & :hover {
            color: $verde;
        }

    }

}

/* Botón Navbar */
.boton-nav {
    margin-left: auto;
}

/* Links de Navbar */
.nav-link {
    color: $violeta;
    font-weight: 600;
}

/* Footer */
.footer {

    &__body {
        background-color: $verdeFooter;
    }

    &__h5 {
        color: $violeta;
        font-weight: bold;
        font-size: large;
    }

    &__p {
        font-size: smaller;
    }


    &__copy {
        font-size: smaller;
        font-weight: bolder;
    }


    &__iconos-redes {
        color: $violeta;
        font-size: 24px;
        margin: 8px;
    }
}




/* Media queries de Numero de Emergencias y Urgencias */

@media screen and (max-width: 1023px) {
    .emergencia {
        font-size: x-large;
        font-weight: bolder;
    }
}

@media screen and (max-width: 767px) {
    .emergencia {
        font-size: normal;
        font-weight: bolder;
    }
}