/* Estilo del texto del Hero */
.hero-texto {
    color: $bgBody;
    font-style: italic;
    background-color: #6c1b897b;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 4px;
    -webkit-animation: scale-in-center .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: scale-in-center .5s cubic-bezier(.25, .46, .45, .94) both;
    
}

/* Animación del texto del Hero */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

/* Hero Página de inicio */
.hero-imagen-index {
    background: url(../imágenes/imagen-principal-index.jpg);
    background-size: cover;
    background-position: center center;
    height: 80vh;
}

/* Hero Página Quiénes somos */
.hero-imagen-quienes-somos {
    background-image: url(../imágenes/imagen-principal-quienes-somos.jpg);
    background-size: cover;
    background-position: center center;
    height: 80vh;
}

/* Hero Página de Cartilla */
.hero-imagen-cartilla {
    background-image: url(../imágenes/imagen-principal-cartilla.jpg);
    background-size: cover;
    background-position: center center;
    height: 80vh;
}

/* Hero Página de Planes */
.hero-imagen-planes {
    background-image: url(../imágenes/imagen-principal-planes.jpg);
    background-size: cover;
    background-position: center center;
    height: 80vh;
}

/* Hero Página de Contacto */
.hero-imagen-contacto {
    background-image: url(../imágenes/imagen-principal-contacto.jpg);
    background-size: cover;
    background-position: center center;
    height: 80vh;

}


@media screen and (max-width: 767px){
    .hero-imagen-quienes-somos{
      height: 40vh;
    }
}

@media screen and (max-width: 767px){
    .hero-imagen-contacto{
      height: 40vh;
    }
}

@media screen and (max-width: 767px){
    .hero-imagen-planes{
      height: 40vh;
    }
}

@media screen and (max-width: 767px){
    .hero-imagen-cartilla{
      height: 40vh;
    }
}


@media screen and (max-width: 1023px){
    .hero-imagen-quienes-somos{
      height: 40vh;
    }
}

@media screen and (max-width: 1023px){
    .hero-imagen-contacto{
      height: 40vh;
    }
}

@media screen and (max-width: 1023px){
    .hero-imagen-planes{
      height: 40vh;
    }
}

@media screen and (max-width: 1023px){
    .hero-imagen-cartilla{
      height: 40vh;
    }
}