.proposito {
    font-size: larger;
    font-style: oblique;
}
h3 {
    font-size: larger;
    font-weight: bolder;
    color: #6C1B89;
    background-color: #cbebe26d;
    border-radius: 4px;
    padding: 3px;
    margin-left: 3px;
}