/* Estilo Quiénes somos */

.lo-que-nos-mueve {
    &__h3 {
        color: $verde;
        
    }

    &__proposito {
        font-style: italic;
        font-size: x-large;
    }

    &__h4 {
        color: $violeta;
        background-color: $verdeFondo;
        padding: 6px;
        
    }

}


/* Media queries */

@media screen and (max-width: 1023px) {
    .lo-que-nos-mueve__proposito {
        font-size: x-large;
        padding-bottom: 40px;
        
    }
}

@media screen and (max-width: 767px) {
    .lo-que-nos-mueve__proposito {
        font-size: medium;
        
        
    }
}

