/* Estilo Quiénes somos */
.lo-que-nos-mueve{
    &__h3{
color: $verde;
font-weight: bolder;
    }

    &__h4{
        color: $violeta;
        background-color: $verdeFondo;
    }
    &__proposito{
        font-style: italic;
        font-size: x-large;
    }
}